footer.wrapper.page-border
  //- nav
    a(href='') FAQ
    a(href='') Datenschutz
    a(href='') Cookie Richtlinie
    a(href='') Bedingungen zur Nutzung
    a(href='') Impressum
    a(href='') Seitemap
    a(href='') Mondelez International
    a(href='') Nutzungsbasierte Online-Werbung
block scripts
  block defaultVendors
  script(src='Resources/js/vendors.js')
  block additionalVendors
  script(src='Resources/js/script.min.js')
   
