%center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


$red: #df182b;

.item-tile {
	@extend %center;
	height: 180px;
	margin-bottom: 1.5rem;
}

.item-icon {
	background: white;
	background-color: rgba(255, 255, 255, .1);
	border-radius: 50%;
	width: 130px;
	height: 130px;
	border: 3px $red solid;
	
	&--pulse {
		@extend .item-icon;
		animation-name: pulse;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
	}
	
	&--ripple {
		@extend %center;
		height: 130px;
		width: 130px;
		border-color: $red;
		border-style: solid;
		border-radius: 50%;
		animation-name: ripple;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in;
		
		&-container {
			@extend .item-icon;
			background-color: rgba(255, 255, 255, .1);
			/* border: 1px $red solid; */
			border: none;
			border-radius: 50%;
		}
	}
	
	&--around {
		@extend .item-icon;
		background: none;
		border: none;
	}
}

.message{
	color: $red;
    position: absolute;
    text-transform: uppercase;
}