.input-ui {
    &__input {
        display: none;
    }
    &__label {
        &:before {
            font-family: 'tsiry' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    &--pin {
        .input-ui__input {
            +.input-ui__label:before {
                content: $icon-pin-outline;
            }
            &:checked {
                +.input-ui__label:before {
                    content: $icon-pinned;
                }
            }
        }
    }
}