aside {
    min-width: 25px;
    overflow: auto;
    background: $asideBackground;
    text-align: center;
    &:hover {
      text-align: left;
        .aside-menu-label {
            display: block;
        }
        .aside-menu-badge {
            display: block;
        }
        .aside-section>h2 {
            display: block;
        }
        .system-time {
            display: block;
        }
        .system-logo {
            font-size: 3rem;
        }
    }
}

.aside-section {
    border-bottom: 1px solid #3A4048;
    padding: 1rem 0;
}

.system-logo {
    font-weight: 300;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.aside-section>h2 {
    color: #5E6E81;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.5rem 1rem;
    display: none;
}

.aside-menu-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    line-height: 1.5;
    padding: 0.3rem 1rem;
    cursor: pointer;
    height: 34px;
    &:hover,
    &:focus {
        background: rgba(255, 255, 255, 0.1);
    }
    &:active,
    &.aside-menu-item-active {
        background: rgba(255, 255, 255, 0.2);
    }
}

.aside-menu-icon {
    order: 1;
    width: 2rem;
}

.aside-menu-label {
    order: 2;
    flex: 1;
    display: none;
    margin: 0 10px;
}

.aside-menu-badge {
    order: 3;
    text-align: center;
    color: $asideBackground;
    border-radius: 1.5rem;
    padding: 0 0.5rem;
    display: none;
}

.system-time {
    display: none;
}