//- .menu_wrapper
//-   nav
//-     .main
//-       li.first
//-         a(href='#') Text
//-       li.second
//-         a(href='#') Color
//-         ul.sub1
//-           li.button1
//-             a(href='#')
//-               h3 Try To
//-           li.button1
//-             a(href='#')
//-               h3 Hover
//-           li.button1
//-             a(href='#')
//-               h3 Me
//-       li.third
//-         a(href='#') Border
//-         ul.sub2
//-           li.button2
//-             a(href='#')
//-               h3 padding
//-           li.button2
//-             a(href='#')
//-               h3 margin
//-       li.fourth
//-         a(href='#') Position


mixin navElement(options)
  
  - var additionalClass = options.additionalClass;
  - var name = options.name || 'default';
  - var subElt = options.subElt;
  - var subAdditionalClass = options.subAdditionalClass;

  li.nav-element(class=additionalClass)
    a(href='') !{name}
    if subElt
      ul.sub-nav(class=subAdditionalClass)
        for elt in subElt
          +navElement(elt)


