mixin menuElement(options)
    - var type = options.type || 'icon'; //- icon || picture
    - var menuName = options.menuName;
    - var menuIcon = options.menuIcon || 'icon-default';
    - var menuClass = options.menuClass || '';
    - var imageUrlLink = options.imageUrlLink || '';

    - menuClass = 'menu__element--' + type + ' ' + menuClass;
    
    li.menu__element(class=menuClass)
        if (type == 'icon')
            i.menu__element__icon.icon(class=menuIcon)
        if (type == 'picture')
            +media({
                mediaType: 'picture',
                imgUrl: imageUrlLink,
                figureClass: 'menu__element__picture'
            })
        span.menu__element__name= menuName


mixin menuLevel(options)
    - var menuClass = options.menuClass;
    - var menuElements = options.menuElements;
    - var menuSubElements = options.menuSubElements;

    ol.menu(class=menuClass)
        li.menu--lv1
            ol.menu__title
                each elt in menuElements
                    - elt.menuClass = 'menu__title--element ' + elt.menuClass;
                    +menuElement(elt)
        li.menu--lv2
            ol.menu__content
                each elt in menuSubElements
                    - elt.menuClass = 'menu__content--element ' + elt.menuClass;
                    +menuElement(elt)
            ol.menu__content
                each elt in menuSubElements
                    - elt.menuClass = 'menu__content--element ' + elt.menuClass;
                    +menuElement(elt)
            ol.menu__content
                each elt in menuSubElements
                    - elt.menuClass = 'menu__content--element ' + elt.menuClass;
                    +menuElement(elt)