

mixin card(options)

  - var additionalClass = options.additionalClass || '';
  - var cardTitle = options.cardTitle;
  - var cardDescription = options.cardDescription;
  - var iconNane = options.icon;

  - var addClass = additionalClass + ' card--' + iconNane;


  .card(class=addClass)
    h1 cardTitle
    .card__content !{cardDescription}
    .center-skin
      +weather({
              name: iconNane
            })
      .laucher-card
        span.i-quote
        .card__overlay.card__overlay--1
        .card__overlay.card__overlay--2
        .card__overlay.card__overlay--3