extends ../layout/layout.pug

block vars
    //- page name
    - var bodyClass = 'dashboard--2';
    - var pageName = 'dashboard';
block append defaultVendors
    script(src='//cdn.jsdelivr.net/g/jquery@2.1.4')

block append additionalVendors

block content
    .navigation
        +menuLevel({
            menuClass: 'solid',
            menuElements: [
                {menuName: 'User', menuIcon: 'icon-user', menuClass: 'js-user-menu'},
                {menuName: 'Applications', menuIcon: 'icon-rocket', menuClass: 'js-app-menu'},
                {menuName: 'menu', menuIcon: 'icon-user', menuClass: 'class'},
                {menuName: 'menu', menuIcon: 'icon-user', menuClass: 'class'},
                {menuName: 'menu', menuIcon: 'icon-rocket', menuClass: 'class'},
                {menuName: 'menu', menuIcon: 'icon-user', menuClass: 'class'},
                {menuName: 'menu', menuIcon: 'icon-user', menuClass: 'class'},
                {menuName: 'menu', menuIcon: 'icon-rocket', menuClass: 'class'},
                {menuName: 'return', menuIcon: 'icon-back', menuClass: 'js-close-menu'}
            ],
            menuSubElements: [
                {type: 'picture', menuName: 'menu', imageUrlLink: '//lorempixel.com/400/400', menuClass: 'class'},
                {type: 'picture', menuName: 'menu', imageUrlLink: '//lorempixel.com/400/400', menuClass: 'class'},
                {type: 'picture', menuName: 'menu', imageUrlLink: '//lorempixel.com/400/400', menuClass: 'class'},
                {type: 'picture', menuName: 'menu', imageUrlLink: '//lorempixel.com/400/400', menuClass: 'class'},
                {type: 'picture', menuName: 'menu', imageUrlLink: '//lorempixel.com/400/400', menuClass: 'class'},
                {type: 'picture', menuName: 'menu', imageUrlLink: '//lorempixel.com/400/400', menuClass: 'class'}
            ]
        })
    .content
        +showCard({
            cardType: 'text',
            cardTitle: 'my Title',
            backgroundImage: '//lorempixel.com/400/400',
            cardContentText: 'lLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id ligula urna. Sed sed mollis odio, at tempus neque. Quisque facilisis lectus arcu, eu bibendum sapien dignissim sit amet. Ut lobortis orci vel justo rhoncus tempor. Curabitur est nisi, ullamcorper fringilla porttitor non, maximus at turpis. Sed vitae ex nec leo rhoncus accumsan viverra ut orci. Sed lectus enim, finibus vel augue ac, accumsan tincidunt mauris. Duis rutrum aliquet faucibus. In faucibus sit amet leo nec blandit. Duis fermentum nisl quis aliquet semper. Nulla ultricies, mauris ut tincidunt facilisis, metus leo sodales nulla, a tincidunt leo felis at neque. Sed mattis metus dui, nec tempor erat vehicula a. Ut pharetra felis quis mollis ultricies.'
        })