//-- dashborad
$defaultColor : #fff;
$defaultBackground: #363E48;
$asideBackground: #2C333C;
$alert-bg: #DE6262;

//-- rgba
$light-white: rgba(255, 255, 255, 0.1);
$light-white2: rgba(255, 255, 255, 0.2);
$half-white: rgba(255, 255, 255, 0.5);

$light-black: rgba(0, 0, 0, 0.1);