//-- dashborad
$defaultColor : #fff;
$defaultBackground: #363E48;
$asideBackground: #2C333C;
$alert-bg: #DE6262;
$black: #000;

//-- rgba
$light-white: rgba(255, 255, 255, 0.1);
$light-white2: rgba(255, 255, 255, 0.2);
$half-white: rgba(255, 255, 255, 0.5);
$light-black: rgba(0, 0, 0, 0.1);


//-- 1944 Mustang theme: $thm-1
$thm-1__base: #000;
$thm-1__layer-1: #1b2539;
$thm-1__layer-2: #697693;
$thm-1__text: #fff;
$thm-1__over: #ff7f00;