extends layout/layout.pug

block vars
	//- page name
	- var bodyClass = 'form-page';
	- var pageName = 'template form';
block append defaultVendors
	script(src='//cdn.jsdelivr.net/g/jquery@2.1.4')

block append additionalVendors
	//-- vendors for IDE
	script(src='Resources/js/vendors/ace/ace.js')
	script(src='Resources/js/vendors/ace/ext-settings_menu.js')
	script(src='Resources/js/vendors/ace/ext-language_tools.js')
	script.
			//-- encoding
			ace.require("ace/ext/language_tools");
			var html = ace.edit("html");
			html.session.setMode("ace/mode/html");
			html.setTheme("ace/theme/twilight");
			html.setOptions({
					enableBasicAutocompletion: true,
					enableSnippets: true,
					enableLiveAutocompletion: false
			});

			var css = ace.edit("css");
			css.session.setMode("ace/mode/css");
			css.setTheme("ace/theme/twilight");
			css.setOptions({
					enableBasicAutocompletion: true,
					enableSnippets: true,
					enableLiveAutocompletion: false
			});
	script.
			$('.ace__title').on('click', (evt)=>{				
				var section = $(evt.currentTarget).attr('class');
				section = section.replace('active','').replace('ace__title', '').replace(' ', '');
				var body = $('.ace__content--' + section);
				if(!$(evt.currentTarget).hasClass('active')){
					$('.ace__title').removeClass('active');
					$(evt.currentTarget).addClass('active');
				}
				if(!body.hasClass('active')){
					$('.ace__content').removeClass('active');
					body.addClass('active')
				}
			});
	//-- vue-select
	script(src='//cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js')
	script(src='//unpkg.com/vue-select@latest')
	script.
			Vue.component('v-select', VueSelect.VueSelect);

			new Vue({
				el: '.formgroup--select',

				data: () => ({
					selected: '',
					options: ['weaTher', 'card', 'nOtes', 'lorem ipsum'],
				}),				
				watch: {
					selected (value) {
						console.log(value.toLowerCase());
					},
				},
			});

block content
	.template-form.form
		h1.form__title form template
		//- .formgroup.formgroup--select
			label 
				v-select( v-model="selected" multiple :options="options")
				span.formgroup__label Select type
			span.formgroup__error need a value
		+formGroup({
			inputAdditionalClass: 'required',
			typeText: 'select',
			labelText: 'Type',
			error: 'You need to specify the type'
		})

		+formGroup({
			inputAdditionalClass: 'required',
			typeText: 'text',
			labelText: 'Name',
			placeholderText: 'Name of the template',
			error: 'You need to specify the Name'
		})
		.editors
			.ace__title.html.active HTML
			.ace__title.css CSS
			.formgroup.formgroup--editor.ace__content.ace__content--html.active
				pre#html
			.formgroup.formgroup--editor.ace__content.ace__content--css
				pre#css
		+formGroup({
			inputAdditionalClass: 'required',
			typeText: 'checkbox',
			labelText: 'Private template'
		})