extends layout/layout.pug

block vars
	//- page name
	- var bodyClass = 'home';
	- var pageName = 'Start page';

block content
	
	//- picture
	//- 	source(media='(max-width: 320px)', srcset='Resources/images/default/top-banner-mobile2-min.png')
	//- 	img.top-banner(src='Resources/images/default/top-banner-min.png')
	a(href='#')
		+media({
			mediaType: 'picture',
			imgUrl: 'Resources/images/default/top-banner-min.jpg',
			imgUrlSM: 'Resources/images/default/top-banner-min.jpg',
			imgClass: 'top-banner',
			imgStyle: " "
		})
		
	+article({
		type: 'text-image',
		class: 'section section--top',
		title: 'Entdecke die Milka Riegel neu und gewinne tolle Preise!',
		text: 'Zeit für neue Riegel, Zeit für #riegeloaded: Meistere die Mini-Games und zeig uns, wie #riegeloaded du bist. Spiel mit und gewinne coole Preise.',
		url: 'resources/images/home/wins-de.png',
		ctas: [
			{ctaClass: 'btn--yellow',
				ctaText: 'Zum Gewinnspiel',
				ctaLink: '#'},
			{ctaClass: 'btn--yellow',
				ctaText: 'Entdecke alle Milka Riegel',
				ctaLink: '#'},
			{ctaClass: 'btn--yellow',
				ctaText: 'Die Gewinne',
				ctaLink: '#'}
			]
	})
	section.section.section--middle
		+article({
			type: 'text',
			class: 'section--title',
			title: 'So #riegeloaded seid ihr!',
			text: 'Hier sind alle #riegeloaded. Schau es dir an - oder feier deinen eigenen Beitrag, wenn du einen hast. Du hast noch keinen? Dann mach mit! Du denkst, du bist #riegeloaded? Dann zeig’s uns! Zeig uns deinen Crunch! Zeig uns deinen Mix! Zeig uns deine softe Seite! Sei Teil der #riegeloaded Challenge! Lade dafür einfach deine Bilder oder Videos hier hoch.',
			ctas: [
				{ctaClass: 'btn--yellow',
					ctaText: 'Bilder & Videos hochladen',
					ctaLink: '#'}
				]
		})
		.card-list__box
			+card({
				cardType: 'picture',
				media:{
					url: 'resources/images/cards/Ebene-37.png',
					imgClassAdd: 'test-card'
				}
			})

			+card({
				cardType: 'video',
				media:{
					figureClass: 'card__video',
					mediaId: 'TestUploadKiady',
					sources: [{
						link: 'http://milkaeaster.s3.amazonaws.com/TestUploadKiady',
						type: 'video/mp4'
					},{
						link: 'http://milkaeaster.s3.amazonaws.com/TestUploadKiady',
						type: 'video/ogg'
					},{
						link: 'http://milkaeaster.s3.amazonaws.com/TestUploadKiady',
						type: 'video/avi'
					}]
				}
			})

			+card({
				cardType: 'picture',
				media:{
					url: 'resources/images/cards/Ebene-36.jpg',
					imgClassAdd: 'test-card'
				}
			})

			+card({
				cardType: 'youtube',
				media:{
					figureClass: 'card__video',
					mediaId: 'GtxGSW2GARY',
					srcUrl: 'GtxGSW2GARY'
				}
			})

			+card({
				cardType: 'picture',
				media:{
					url: 'resources/images/cards/Ebene-35.jpg',
					imgClassAdd: 'test-card'
				}
			})

			+card({
				cardType: 'youtube',
				media:{
					figureClass: 'card__video',
					mediaId: 'GtxGSW2GARY',
					srcUrl: 'GtxGSW2GARY'
				}
			})

		.card-list__reload
			+media({
          mediaType: 'picture',
          figureClass: 'reload-animation--active hide',
          imgClass: 'reload-animation__Img',
          imgUrl: 'resources/images/common/spinner--loading.png',
          imgWidth: '140px'
        })

	.section.section--bottom
		h1.section__text Teile #riegeloaded mit deinen Freunden auf Facebook.
		+socialBtn({
			ctaClass: 'facebook',
			ctaIcon: 'facebook',
			ctaText: 'teilen'
		})



