extends layout/layout.pug

block vars
	//- page name
	- var bodyClass = 'home';
	- var pageName = 'Start page';

block append defaultVendors
	script(src='//cdn.jsdelivr.net/g/jquery@2.1.4')

block append additionalVendors

block append assetStyle

block content	
	main.main--container
		